body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/128/363/original/pexels-moose-photos-170195-1037993.jpg?1717755246");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-position: 0%;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
  margin: 0 0 30px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}

.container {
  max-width: 650px;
  margin: 30px auto;
  background: white;
  padding: 30px;
  box-shadow: rgba(53, 53, 60, 0.232) 0px 7px 29px 0px;
  border-radius: 10px;
  opacity: 0.7;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 5px;
}
